{% extends 'base.html' %}
{% load static%}


    
{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/bg_4.jpg'%});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Reset password</h1>
        </div>
      </div>
    </div>
</div>
<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.


</h1>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <h1>Your password has been changed succesfully</h1>
            
        </div>
        <a href='{% url "auth:login" %}'>Login again?</a>
      </div>
</section>
{% endblock %}